[Desktop Entry]
Name=lumenEh
Comment=Lightweight markdown viewer
Exec=lumeneh %F
Icon=lumeneh
Terminal=false
Type=Application
Categories=Utility;TextEditor;
Keywords=markdown;viewer;
MimeType=text/markdown;text/x-markdown;
